<p>Hey {{ name }}!</p>
<br>
<p>Please click below to activate your Doyen Meetings account</p>
<p>
    <a href="{{ url }}">Activate</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
